*{

    font-family: Arial;
}
.header{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.left img{
    margin-right: 50px;
}
.left{
    display: flex;
    gap: 20px;
}
.left select{
    border: 0;
}
.right img{
    margin-right: 25px;
    gap: 20px;
}
.bike{
    width: 100%;
    height: auto;
    display: block;

}
.banner{
    margin: 0 auto;
    width: 100%;
    position:relative ;
    overflow: hidden;
}
.banner-text{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
}
.banner-text h3{
    font-size: 1rem;
    margin: 0;
}
.banner-text h1{
    font-size: 2.5rem;
    margin: 0;

    width: 1101px;
    height: 74px;


    font-style: normal;
    font-weight: 591;
    font-size: 70px;
    line-height: 0px;
    display: flex;
    align-items: center;
    letter-spacing: 0.6px;
    text-transform: capitalize;

    color: #FFFFFF;


    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.muzkvel {
    margin: 100px;
}
.kak{
    display: flex;
    align-items:  center;
}
.text2{

    width: 333px;
    height: 100px;

   
    font-style: normal;
    font-weight: 591;
    font-size: 50px;
    line-height: 50px;
    display: flex;
    align-items: center;

    color: rgba(20, 22, 21, 0.9);


    flex: none;
    order: 0;
    flex-grow: 0;

}
.Tex{
    font-weight: 539;
    font-size: 14px;
    line-height: 100px;
    

    

}
.txet{

    width: 108px;
    height: 15px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 539;
    font-size: 15px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;

    color: #141615;


    flex: none;
    order: 0;
    flex-grow: 0;

}
.velosipedist{
    width: 100%;
}
.baner-text{
    position: absolute;
    top: 225%;
    left: 10%;
    color: white;
    max-width:700px;
    font-size: 25px;
}
.tx3 {
    max-width: 500px;
    font-weight: 100;
}
.velik {
    margin-right: 25px;
    gap: 20px;
}
.velza{
    display: flex;
    padding: 10px;
    align-items: center; 
}
.piip-text{
    margin-left:100px ;
}
.text{
    

    width: 451px;
    height: 100px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 591;
    font-size: 50px;
    line-height: 50px;

    display: flex;
    align-items: center;


    color: rgba(20, 22, 21, 0.9);



    flex: none;
    order: 0;
    flex-grow: 0;

}
.txt{

    width: 468px;
    height: 63px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 539;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;


    color: rgba(20, 22, 21, 0.9);


    flex: none;
    order: 0;
    flex-grow: 0;

}
.txpro{

    width: 103px;
    height: 15px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 591;
    font-size: 15px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;

    color: #141615;


    flex: none;
    order: 0;
    flex-grow: 0;

}
.cyclist-text{
    
    padding: 10px;
    align-items: center; 
}
.rides{
    margin-left: 170px;
    display: flex;
    justify-content: space-between;
}
.tex1{
    color: 141615;
}
.yext2{
    color: 141615;
}
.spot{
    display: flex;
    width: 30px;
    height: 30px;

}
.block{


    font-family: 'Arial';
    font-style: normal;
    font-weight: 591;
    font-size: 25px;
    line-height: 25px;
    display: flex;
    align-items: center;

    color: rgba(20, 22, 21, 0.9);


    flex: none;
    order: 0;
    flex-grow: 0;

    
}
.block1{
    display: flex;
    align-items: center;

 

    font-family: 'Arial';
    font-style: normal;
    font-weight: 50;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: rgba(20, 22, 21, 0.9);


    flex: none;
    order: 0;
    flex-grow: 0;
}
.tex1{

    font-family: 'Arial';
    font-style: normal;
    font-weight: 50;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: rgba(20, 22, 21, 0.9);


    flex: none;
    order: 0;
    flex-grow: 0;

}
.block2{
    display: flex;
    align-items: center;



    font-family: 'Arial';
    font-style: normal;
    font-weight: 50;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: rgba(20, 22, 21, 0.9);


    flex: none;
    order: 0;
    flex-grow: 0;
}
.yext2{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 50;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: rgba(20, 22, 21, 0.9);


    flex: none;
    order: 0;
    flex-grow: 0;


}
.block3{
    display: flex;
    align-items: center;



    font-family: 'Arial';
    font-style: normal;
    font-weight: 50;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: rgba(20, 22, 21, 0.9);


    flex: none;
    order: 0;
    flex-grow: 0;
}
.text3{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 50;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: rgba(20, 22, 21, 0.9);


    flex: none;
    order: 0;
    flex-grow: 0;
}
.block4{
    display: flex;
    align-items: center;



    font-family: 'Arial';
    font-style: normal;
    font-weight: 50;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: rgba(20, 22, 21, 0.9);


    flex: none;
    order: 0;
    flex-grow: 0;
}
.texxxt4{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 50;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: rgba(20, 22, 21, 0.9);


    flex: none;
    order: 0;
    flex-grow: 0;
}
.big{
    display: flex;
    gap: 100px;
    margin-left: 50px;
}
.great1{

    width: 700px;
    height: 700px;
    padding: 40px 30px 40px 30px;
    justify-content:center;
    background-color: #EBEDEE;
    align-items: center;
}
.great-txt{
    display: flex;
    justify-content: space-between;
}
.great-txt div{
    display: flex;
}
.great-txt2{
    display: flex;
    justify-content: space-between;
}
.great-txt div{
    display: flex;
}
.greate-img{
    justify-content: center;
    align-items: center;
    display: flex;
}
.cvet {
margin-left: 175px;
}
.stolb{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.stolb input{
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 40px;
    border: 1px solid grey;
    margin-bottom: 23px;
    padding-left: 10px;
}
.stolb h1{
    display: grid;
    justify-content: center; 
}
.mnogo {
    width: 809px;
    height: 200px;
    resize: none;
}
.cknopcka{
    border-radius: 30px;
    height:50px;
    background-color: grey;
    margin-bottom: 23px;
}
.stolbik h1{

   
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 60px;
   
    
    color: #141615;
    
} 

.stolbik{
    align-items: center;
    display: grid;
    width: 1000px;
    justify-content: center;
    align-items: center;
   
}
.stolbik hr{
    color: #141615;
    
    width: 100%;
}
.stolbik h2{
    width: 100%;
    
}
.stolbik h3{

    font-weight: 139;
    font-size: 14px;
    line-height: 20px;

    color: rgba(20, 22, 21, 0.6);
}
.TXT1{
    text-align: center;
}
.hz{
    display: grid;
    align-items: center;
    justify-content: center;
}
.stolbik-text{
    display: flex;
    justify-content: space-between;
}
.stolbik-text2{
    display: flex;
    justify-content: space-between;
}
.stolbik-text3{
    display: flex;
    justify-content: space-between;
}
.stolbik-text4{
    display: flex;
    justify-content: space-between;
}

.stolbik-text5{
    display: flex;
    justify-content: space-between;
}
.begig{
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: rgb(61, 61, 61);
    display: flex;
    justify-content: space-evenly;
}
.txttt{
    font-family: 'Arial';
    font-size: 16px;
    font-weight: 591;
    line-height: 20.8px;
    text-align: left;


    color: #FFFFFF;
    font-weight: 250;
}
.knp{
    padding-top: 40px;
    border-radius: 60px 60px 60px 60px;
    width: 200px;
    height: 50px;
    padding: 15px 1px 14px 1px;
    gap: 0px;
    border: 1px solid gray;
    opacity: 0px;
    border-color: black;
}

.podvfl{
    display: flex;
    width: 100%;
    background-color: #141615;
    color: white;
    gap: 150px;
    padding-bottom: 80px;
}
.podvfl-text1{
    display: grid;
    margin: 20px 40px; 
}
.podvfl-text2{
    display: grid;
    margin: 20px 40px; 
}
.podvfl-text3{
    display: grid;
    margin: 20px 40px; 
}
.podvfl h1{
    font-size: 20px;
    font-weight: 300;
}

.podvfl a{
    font-size: 14px;
    font-weight: 100;
    line-height: 23px;
}

.knop1 {
    border: none;
}
.knop2{ 
    border: none;
}
.podval h1{
    font-size: 20px;
}
.podval h2{
    font-size: 15px;
}


.podval form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141615;
    width: 400px;
    border-radius: 50px;
    border: 1px solid white;
    overflow: hidden;
}
.podval input{
    border: none;
    padding: 15px 20px;
    flex: 1;
    outline: none;
    background-color: #141615;
    color: white;

}
.podval input::placeholder{
    color: #aaa;
}
.podval button{
    border: none;
    border-radius: 50px 0 0 50px;
    padding: 15px 30px;
    font-size: 16px;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.podval button:hover{
    background-color: #aaa;
}
.fot{
    display: flex;
    gap: 15px;
}
.clovo{
    display: flex;
    align-items: center;
}
.vell{
    width: 100%;
}
.uryfg{
    font-size: 25px;
}
.ofn{
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.karta{
    width: 100%;
}

.text-name{
    position: absolute;
    top: 225%;
    left: 10%;
    color: white;
    max-width:700px;
    font-size: 25px;
}
.head-btn{
    border: none;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 16px;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.velza2{
    display: flex;
    padding: 10px;
    align-items: center; 
}
.pip-text{
    margin-left:100px ;
}
.text1{
    

    width: 451px;
    height: 100px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 591;
    font-size: 50px;
    line-height: 50px;

    display: flex;
    align-items: center;


    color: rgba(20, 22, 21, 0.9);



    flex: none;
    order: 0;
    flex-grow: 0;

}
.txt2{

    width: 468px;
    height: 63px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 539;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;


    color: rgba(20, 22, 21, 0.9);


    flex: none;
    order: 0;
    flex-grow: 0;

}
.txpro3{

    width: 103px;
    height: 15px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 591;
    font-size: 15px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;

    color: #141615;

    margin-top: 50px;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.ctl-container {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    margin-bottom: 90px;
}
.txt1{
    border: 1px solid #aaa;
    padding: 25px;
}












.velosiped{
    width: 100%;
}
.tert{
    position: absolute;
    left: 10%;
    color: white;
    max-width:700px;
    font-size: 25px;
    padding-top: 400px;
}

.fran{
    margin-left: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.fran-text{
    
    padding: 10px;
    
}
.texti{
    color: 141615;
    font-weight: 100;
    font-size:10px;
    font-style: normal;
    
}
.blocek1{
    display: flex;
    font-family: 'Arial';
    font-weight: 50;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: rgba(20, 22, 21, 0.9);
}
.blocek{


    font-family: 'Arial';
    font-weight: 591;
    font-size: 25px;
    line-height: 25px;
    display: flex;
    align-items: center;

    color: rgba(20, 22, 21, 0.9);


    flex: none;
    order: 0;
    flex-grow: 0;
}
.velorett{
    width: 100%;
}

.bitvin{
    position: absolute;
    top: 22%;
    left: 10%;
    color: white;
    max-width:700px;
    font-size: 25px;
}
.head-btg{
    border: none;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 16px;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.ggirl{
    margin-left: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.girl-text{
    
    padding: 10px;
    
}
.textig{
    color: 141615;
    font-weight: 100;
    font-size:15px;
    font-style: normal;
    
}

.blocekg{


    font-family: 'Arial';
    font-weight: 591;
    font-size: 25px;
    line-height: 25px;
    display: flex;
    align-items: center;

    color: rgba(20, 22, 21, 0.9);


    flex: none;
    order: 0;
    flex-grow: 0;
}

.pefallik2{
    display: flex;
    padding: 10px;
    align-items: center; 
}



.ped-text{
    margin-left:100px ;
}
.text1{
    

    width: 451px;
    height: 150px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 591;
    font-size: 50px;
    line-height: 50px;

    display: flex;
    align-items: center;


    color: rgba(20, 22, 21, 0.9);



    flex: none;
    order: 0;
    flex-grow: 0;

}
.txt2{

    width: 468px;
    height: 63px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 539;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;


    color: rgba(20, 22, 21, 0.9);


    flex: none;
    order: 0;
    flex-grow: 0;

}
.ster{
    width: 100%;
}
.ster-text{
    position: absolute;
    top: 310%;
    left: 10%;
    color: white;
    max-width:700px;
    font-size: 25px;
}
.ster-tx {
    max-width: 500px;
    font-weight: 100;
}


.nnirl{
    margin-left: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.nirl-text{
    
    padding: 10px;
    
}
.textin{
    color: 141615;
    font-weight: 100;
    font-size:15px;
    font-style: normal;
    
}

.blocekn{


    font-family: 'Arial';
    font-weight: 591;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;

    color: rgba(20, 22, 21, 0.9);


    flex: none;
    order: 0;
    flex-grow: 0;
}
.asteers2{
    display: flex;
    padding: 10px;
    align-items: center; 
}



.ast-text{
    margin-left:100px ;
}
.textast{
    

    width: 451px;
    height: 150px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 591;
    font-size: 50px;
    line-height: 50px;

    display: flex;
    align-items: center;


    color: rgba(20, 22, 21, 0.9);



    flex: none;
    order: 0;
    flex-grow: 0;

}
.txtast{

    width: 468px;
    height: 63px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 539;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;


    color: rgba(20, 22, 21, 0.9);


    flex: none;
    order: 0;
    flex-grow: 0;

}
.rrirl{
    margin-left: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.rirl-text{
    
    padding: 10px;
    
}
.blocekr{


    font-family: 'Arial';
    font-weight: 591;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;

    color: rgba(20, 22, 21, 0.9);


    flex: none;
    order: 0;
    flex-grow: 0;
}
.textir{
    color: 141615;
    font-weight: 100;
    font-size:15px;
    font-style: normal; 
}


.light{
    width: 100%;
}
.light-text{
    position: absolute;
    /* top: 100%; */
    left: 10%;
    color: white;
    max-width:700px;
    font-size: 25px;
}
.light-tx {
    max-width: 500px;
    font-weight: 100;
}

.cvet{
    height: 1000px;
    background-image: url(./images/light.png);
    background-repeat: no-repeat;
    background-size: auto 1000px;
    margin: 0;
}


.door2{
    display: flex;
    padding: 10px;
    align-items: center; 
}



.pen-text{
    margin-left:100px ;
}
.textpen{
    

    width: 451px;
    height: 150px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 591;
    font-size: 50px;
    line-height: 50px;

    display: flex;
    align-items: center;


    color: rgba(20, 22, 21, 0.9);



    flex: none;
    order: 0;
    flex-grow: 0;

}
.txtpen{

    margin-top: 50px;

    width: 468px;
    height: 63px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 539;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;


    color: rgba(20, 22, 21, 0.9);


    flex: none;
    order: 0;
    flex-grow: 0;

}
.txtpen{

    margin-top: 50px;

    width: 468px;
    height: 63px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 539;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;


    color: rgba(20, 22, 21, 0.9);


    flex: none;
    order: 0;
    flex-grow: 0;

}


.spoke{
    margin-left: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.spoke-text{
    
    padding: 10px;
    
}
.bloceksp{


    font-family: 'Arial';
    font-weight: 591;
    font-size: 20px;
    line-height: 40px;
    display: flex;
    align-items: center;

    color: rgba(20, 22, 21, 0.9);


    flex: none;
    order: 0;
    flex-grow: 0;
}
.textisp{
    color: 141615;
    font-weight: 100;
    font-size:15px;
    font-style: normal; 
}
